<!DOCTYPE html>
<html>
<head>
  <title>Your Account is Approved</title>
</head>
<body>
  <h1>Your Account is Approved</h1>
  <p>Hello <%= @user.username %>,</p>
  <p>Your account with email <%= @user.email %> has been approved. You can now log in to your account.</p>
  <p>Thank you!</p>
</body>
</html>
