<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Greetings <%= @user.email %>! Your application for an account has been sent to the admin. Currently, you won't be able to access certain features until the admin approves of your application. Thank you for your patience! </h1>
    <p>
      Access to app under following URL: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>