<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @user.email %>!</h1>
    <p>
      Access to app under following URL: <%= @url %>.
    </p>
    <p>We are happy to inform you that your application as a broker has been approved! Happy trading!</p>
  </body>
</html>