<div class="relative" id="home">
  <div aria-hidden="true" class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20">
      <div class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"></div>
      <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"></div>
  </div>
  <Container>
      <div class="relative pt-36 ml-auto">
          <div class="lg:w-2/3 text-center mx-auto">
              <h1 class="text-gray-900 dark:text-white font-bold text-5xl md:text-6xl xl:text-7xl">Stalking your investments <span class="text-primary dark:text-white">with ease.</span></h1>
              <p class="mt-8 text-gray-700 dark:text-gray-300">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio incidunt nam itaque sed eius modi error totam sit illum. Voluptas doloribus asperiores quaerat aperiam. Quidem harum omnis beatae ipsum soluta!
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero quaerat laborum quia tempora minus architecto assumenda adipisci officia temporibus! Esse, facilis magni. Temporibus mollitia commodi, quia sit culpa tempora deleniti?
              </p>
              <div class="mt-16 flex flex-wrap justify-center gap-y-4 gap-x-6">
                  <%= link_to 'Login', new_user_session_path, class: 'relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max' %>

                  <%= link_to 'Sign Up', new_user_registration_path, class: 'mt-auto flex justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2' %>

              </div>
              <div class="hidden py-8 mt-16 border-y border-gray-100 dark:border-gray-800 sm:flex justify-between">
                  <div class="text-left">
                      <h6 class="text-lg font-semibold text-gray-700 dark:text-white">The lowest price</h6>
                      <p class="mt-2 text-gray-500">Some text here</p>
                  </div>
                  <div class="text-left">
                      <h6 class="text-lg font-semibold text-gray-700 dark:text-white">The fastest on the market</h6>
                      <p class="mt-2 text-gray-500">Some text here</p>
                  </div>
                  <div class="text-left">
                      <h6 class="text-lg font-semibold text-gray-700 dark:text-white">The most loved</h6>
                      <p class="mt-2 text-gray-500">Some text here</p>
                  </div>
              </div>
          </div>

      </div>
  </Container>
</div>